<div style="padding-left:130px;padding-right:200px;">
    <h2>Log In Page</h2>

    <label><b>username</b></label>
    <input type="text" ng-model="password" placeholder="Enter Password" required>


    <label><b>Password</b></label>
    <input type="password" ng-model="password" placeholder="Enter Password" required>

    <br>
    <button ng-click="signUp()">Sign Up</button>

    <!--<h1>About us page.</h1>-->
    <!-- <p>This is simple angular ng-view and ng-route tutorial to demonstrate single page web app development.</p>-->
    <!-- <p>-->
    <!--   This is executed because of this code.-->
    <!--   <pre>-->
    <!--     <code>-->
    <!--       .when('/login',{-->
    <!--             templateURl: 'login.html'-->
    <!--       })-->
    <!--     </code>-->
    <!--   </pre>-->
    <!-- </p>-->
    <!-- <p><a class="btn btn-primary btn-lg" href="#" role="button">Read tutorial</a></p>-->
</div>
