<div style="padding-left:130px;padding-right:200px;">
    <h2>Sign Up Page</h2>
    <form>
        <div class="container">
            <label><b>Email</b></label>
            <input type="email" ng-model="userName" placeholder="Enter Username" required>

            <label><b>Password</b></label>
            <input type="password" ng-model="password" placeholder="Enter Password" required>
            <br>
            <label><b>DOB</b></label>
            <input type="date" ng-model="userName" placeholder="Enter Username" required>

            <label><b>username</b></label>
            <input type="text" ng-model="password" placeholder="Enter Password" required>

            <br>
            <label><b>role</b></label>
            <input type="text" ng-model="userName" placeholder="Enter Username" required>

            <br>
            <button ng-click="signUp()">Sign Up</button>
        </div>
    </form>

    <!--    <h1>About us page.</h1>-->
    <!--    <p>This is simple angular ng-view and ng-route tutorial to demonstrate single page web app development.</p>-->
    <!--    <p>-->
    <!--        This is executed because of this code.-->
    <!--    <pre>-->
    <!--     <code>-->
    <!--       .when('/singUp',{-->
    <!--             templateURl: 'singUp.html'-->
    <!--       })-->
    <!--     </code>-->
    <!--   </pre>-->
    <!--    </p>-->
    <!--    <p><a class="btn btn-primary btn-lg" href="#" role="button">Read tutorial</a></p>-->
</div>
