<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
    <script src="../controllers/signUpController.js"></script>
</head>
<body ng-app="app" ng-controller="signUpController">
<div class="container">
    <label><b>User Id</b></label>
    <input type="text" placeholder="Enter EmailId" name="uname" required ng-model="userName">
    <label><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="uname" required ng-model="password">
    <label><b>Confirm Password</b></label>
    <input type="password" placeholder="Enter confirm Password" name="psw" required ng-model="confirmPassword">
    <button type="submit" ng-click="updatePassword()" ng-disabled = "!password || !userName || !confirmPassword">Update Password</button>
    <label>
        <input type="checkbox" checked="checked" name="remember"> Remember me
    </label>
</div>
</body>
</html>
