<!DOCTYPE html>
<html lang="en" class="no-js">
<link rel="stylesheet" href="public/css/style.css" />
<head>
    <link rel="stylesheet" href="public/css/style.css" />
    <script>if ('serviceWorker' in navigator) {
      navigator.serviceWorker.register('service-worker.js')
          .then(function(registration) {
            console.log('Registered:', registration);
          })
          .catch(function(error) {
            console.log('Registration failed: ', error);
          });
    }</script>
</head>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script>
  var app = angular.module('myApp', []);
  app.controller('myCtrl', function($scope) {
    $scope.firstName= "Anurag";
    $scope.lastName= "Sandhu";
  });
</script>
<body>

<!--<div ng-app="myApp" ng-controller="myCtrl" ng-init="firstName='Anurag'">-->
<div ng-app="myApp" ng-controller="myCtrl">
    <p>The name is <span ng-bind="firstName"></span></p>
    <p>Name: <input type="text" ng-model="firstName"></p>
    <p ng-bind="firstName"></p>
    First Name: <input type="text" ng-model="firstName"><br>
    Last Name: <input type="text" ng-model="lastName"><br>
    <br>
    Full Name: {{firstName + " " + lastName}}
    <h2 id="anurag">Hiiiiiiiiiiiiiiiiiii</h2>
</div>

</body>
</html>

















<!--<!doctype html>-->
<!--<html ng-app="app">-->
<!--<head>-->
<!--    <script>if ('serviceWorker' in navigator) {-->
<!--      navigator.serviceWorker.register('service-worker.js')-->
<!--          .then(function(registration) {-->
<!--            console.log('Registered:', registration);-->
<!--          })-->
<!--          .catch(function(error) {-->
<!--            console.log('Registration failed: ', error);-->
<!--          });-->
<!--    }</script>-->
<!--</head>-->
<!--<body>-->
<!--<a>Home</a>-->
<!--<a href="indexOff.html">Blog</a>-->
<!--<a href="indexOff.html">About</a>-->
<!--</body>-->
<!--</html>-->























<!--&lt;!&ndash;<!DOCTYPE html>&ndash;&gt;-->
<!--&lt;!&ndash;<html lang="en">&ndash;&gt;-->
<!--&lt;!&ndash;<head>&ndash;&gt;-->
<!--&lt;!&ndash;    <meta charset="UTF-8">&ndash;&gt;-->
<!--&lt;!&ndash;    <title>ServiceWorker</title>&ndash;&gt;-->
<!--&lt;!&ndash;    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular.min.js"></script>&ndash;&gt;-->
<!--&lt;!&ndash;    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular.min.js"></script>&ndash;&gt;-->
<!--&lt;!&ndash;    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular-route.min.js"></script>&ndash;&gt;-->
<!--&lt;!&ndash;</head>&ndash;&gt;-->
<!--&lt;!&ndash;<body ng-app="">&ndash;&gt;-->
<!--&lt;!&ndash;<p>Go to <a href="/home/anurag/cartos/practice/anurag_personal/assignments/serviceWorker/main/public/html/index.html">Anu</a> to learn!</p>&ndash;&gt;-->
<!--&lt;!&ndash;<a href="/home/anurag/cartos/practice/anurag_personal/assignments/serviceWorker/main/public/media/images/jo-wroten-xfqOqP0ydQI-unsplash.jpg">Image</a>&ndash;&gt;-->
<!--&lt;!&ndash;<div >&ndash;&gt;-->

<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;<nav class="w3-sidebar w3-bar-block w3-collapse w3-animate-left w3-card-2" style="z-index:3;width:250px;" id="mySidebar">&ndash;&gt;-->
<!--&lt;!&ndash;    &lt;!&ndash; Logo &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;    <img src="assets/sangwin-logo.png" class="logo">&ndash;&gt;-->
<!--&lt;!&ndash;    &lt;!&ndash; Sidebar Links &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;    <a class="w3-bar-item w3-button" [ngClass]="{'w3-teal': (active == '/')}" routerLink="/"> <i class="w3-medium fa fa-user"></i>  User List</a>&ndash;&gt;-->
<!--&lt;!&ndash;    <a class="w3-bar-item w3-button" routerLink="/add"  [ngClass]="{'w3-teal': (active == '/add')}"> <i class="w3-medium fa fa-plus"></i>  Add new user</a>&ndash;&gt;-->
<!--&lt;!&ndash;    <a class="w3-bar-item w3-button" (click)="logOut()"><i class="w3-medium fa fa-sign-out"></i>  Logout</a>&ndash;&gt;-->
<!--&lt;!&ndash;    <a href="/home/anurag/cartos/practice/anurag_personal/assignments/serviceWorker/main/public/html/index.html">Visit our HTML tutorial</a>&ndash;&gt;-->
<!--&lt;!&ndash;</nav>&ndash;&gt;-->
<!--&lt;!&ndash;</body>&ndash;&gt;-->
<!--&lt;!&ndash;</html>&ndash;&gt;-->
